
RewriteEngine on
# Rewrite rule for the countdown HTML file.
RewriteRule [a-z]/[0-9@]+/(.+) countdown.html [L]
# Rewrite rule for the backend date parser.
RewriteRule getdate/([\P{Cc}]+) backend/parsedate.py?str=$1 [L]
